/**/

a {
  text-decoration: none;
  color: white !important;
  font-weight: bold;
}

a:hover {
  color: #9218cf !important;
  text-decoration: none;
}


hr {
  margin-top: 5px;
  margin-bottom: 5px;
}


/* espace ecran (haut, droite+gauche, bas*/
.css-z5fcl4 {
  padding: 1rem 2.5rem 10rem
}

.css-1544g2n{
  padding: 3rem 1rem 1.5rem
}



/* Buttons */
.stButton {
  display: grid;
  place-items: center;
}

.stDownloadButton {
  display: grid;
  place-items: center;
}


/*remove extra space*/
.body {
  line-height: 0;
}


/* clickable img hover */
.img-hover-effect:hover {
  opacity: 0.8; 
  transform: scale(1.15);
}


/* sidebar Arrow */
button[data-testid="baseButton-headerNoPadding"]{
  background-color: #9218cf !important;
  padding: 10px 10px !important;
}

button[data-testid="baseButton-header"]{
  background-color: #9218cf !important;
  padding: 10px 10px !important;
}



/**/
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
div[data-testid="collapsedControl"] {visibility: visible;}
div[data-testid="stSidebar"] {visibility: visible;}